{% extends "admin/base_site.html" %}
{% block extrahead %}
    {% load my_tags %}
    {% load dajaxice_templatetags %}


    <title>Añadir asiento contable | Sitio de administración de Django</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% dajaxice_js_import %}


    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css">
	<script src="/static/admin/js/SeparadorDeMiles.js"></script>


    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
      <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/ajax_select/js/bootstrap.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    </script><script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>


    <meta name="robots" content="NONE,NOARCHIVE">
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li><a href="{% url 'asientos_contables.views.listar' %}">Asientos contables</a> 
<span class="divider">/</span></li>
<li>Modificar asiento contable</li>
</ul>

{% endblock %}
 {% block navbar %}
  
             <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand">Modificar asiento contable</a>
                </div>
                </div>
        {% endblock navbar %}

{% block content %}
<body class="asientos_contables-asientocontable change-form" onload="iniciar()" > 
<script type="text/javascript">
function iniciar(){
	total();
	banco();
}
</script>


<!-- Content -->
<div id="content" class="colM">
<div class="row-fluid">
           
<div id="content-main">
<form enctype="multipart/form-data" action="" name="formulario" onchange="total()" onclick="total()" method="post" id="asientocontable_form">{% csrf_token %}
<div>
<fieldset class="module aligned ">
    <div class="form-row field-fecha">
        <div>
            <label class="required" for="id_fecha">Fecha:</label>
            <input  class="vDateField" readonly id="id_fecha" name="fecha" size="10" type="text" value="{{ asiento.fecha }}">
        </div>
    </div>
</fieldset>
    <div  hidden="hidden" id="error_0" class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-minus-sign"></span>
    <p>  Por favor, corrija los siguientes errores. </p>
    </div>
    
<div class="inline-group" style="border: None" id="asientocontabledetalle_set-group">
    <div class="tabular inline-related last-related">
        <fieldset class="module">
            <h2>Asiento contable detalles</h2>
            <table id="myTable" class="table table-striped table-bordered">
                <thead><tr>
                    <th class="required"  style="width: 200px">Cuenta</th>
                    <th class="required">Debe</th>
                    <th class="required">Haber</th>
                    <th >Concepto</th>
                    <th>¿Eliminar?</th>
                </tr></thead>
                <tbody>                
		{% for ad  in asientos_detalles %}
		<tr class="form-row {% cycle 'row1' 'row2' %}  dynamic-asientocontabledetalle_set" id="asientocontabledetalle_set-{{ forloop.counter0 }}">
					
                    <td class="field-cuenta">     		
                 		<input type="text" style=" " name="asientocontabledetalle_set-{{ forloop.counter0 }}-cuenta_text" 
                  		id="id_asientocontabledetalle_set-{{ forloop.counter0 }}-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
    					<input type="hidden" name="asientocontabledetalle_set-{{ forloop.counter0 }}-cuenta" id="id_asientocontabledetalle_set-{{ forloop.counter0 }}-cuenta" value="{{ ad.cuenta_id }}"
           				data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta&quot;}">
           				                      
                      	<select id="asientocontabledetalle_set-{{ forloop.counter0 }}-banco" style="display: {% if ad.cuenta_bancaria_id == None %} none {% else %} block {% endif %};" name="asientocontabledetalle_set-{{ forloop.counter0 }}-banco" >
                            {% for banco in bancos %}
                                <option value="{{ banco.id }}" {% if ad.cuenta_bancaria_id == banco.id %} selected {% endif %}>{{ banco.cuenta_bancaria }} - {{ banco.nro_de_cuenta }}</option>
                            {% endfor %}
                        </select>
    					<div id="id_asientocontabledetalle_set-{{ forloop.counter0 }}-cuenta_on_deck"  class="results_on_deck" >  					
    					<div id="a-{{ forloop.counter0 }}" ><span onclick="del_content({{ forloop.counter0 }})" class="ui-icon ui-icon-trash" id="kill_undefinedid_asientocontabledetalle_set-{{ forloop.counter }}-cuenta">X</span> 
    					<div> {{ ad.cuenta.cuenta }}<div> {{ ad.cuenta.codigo }}</div> </div></div>
    					</div>
    					<script>
    					$("#id_asientocontabledetalle_set-"+"{{ forloop.counter0 }}"+"-cuenta_on_deck").bind('added',function() {
    						id_cuenta = $("#id_asientocontabledetalle_set-"+"{{ forloop.counter0 }}"+"-cuenta").val();
    			            banco();
    			    	});
    					
    					$("#id_asientocontabledetalle_set-"+"{{ forloop.counter0 }}"+"-cuenta_on_deck").bind('killed',function() {
    						  remover({{ forloop.counter0 }});
    			    });
    					</script>
                    </td>
                    
                    <td class="field-debe">
                        <input id="id_asientocontabledetalle_set-{{ forloop.counter0 }}-debe" style=" text-align: right" name="asientocontabledetalle_set-{{ forloop.counter0 }}-debe" required="" min="0"  step="0.01" type="number" value="{{ ad.debe|to_int }}">
                    </td>
                    <td class="field-haber">
                        <input id="id_asientocontabledetalle_set-{{ forloop.counter0 }}-haber" style=" text-align: right" name="asientocontabledetalle_set-{{ forloop.counter0 }}-haber" required="" min="0" step="0.01" type="number" value="{{ ad.haber|to_int }}">
                    </td>
                 <td class="field-observacion">
                        <input style=" " name="asientocontabledetalle_set-{{ forloop.counter0 }}-observacion" maxlength="100" type="text" value="{% if ad.observacion != None %} {{ ad.observacion }} {% endif %}">
                    </td>
                    <td class="delete"><div><a class="inline-deletelink" href="javascript:del_fila({{ forloop.counter0 }})">Eliminar</a></div></td>
                </tr>
		{% endfor %}
		{% for z in filas %}
		<tr  hidden="hidden"  class="form-row {% cycle 'row1' 'row2' %}  dynamic-asientocontabledetalle_set" id="asientocontabledetalle_set-{{ z }}">
                    <td class="field-cuenta">     		
                 		<input type="text" style=" " name="asientocontabledetalle_set-{{ z }}-cuenta_text" 
                  		id="id_asientocontabledetalle_set-{{ z }}-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
    					<input type="hidden" name="asientocontabledetalle_set-{{ z }}-cuenta" id="id_asientocontabledetalle_set-{{ z }}-cuenta" value=""
           				data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta&quot;}">
           				                      
                      	<select id="asientocontabledetalle_set-{{ z }}-banco" style="display: none" name="asientocontabledetalle_set-{{ z }}-banco" >
                            {% for banco in bancos %}
                                <option value="{{ banco.id }}">{{ banco.cuenta_bancaria }} - {{ banco.nro_de_cuenta }}</option>
                            {% endfor %}
                        </select>
    					<div id="id_asientocontabledetalle_set-{{ z }}-cuenta_on_deck"  class="results_on_deck" >  					
    					<div></div>
    					</div>
    					<script>
    					$("#id_asientocontabledetalle_set-"+"{{ z }}"+"-cuenta_on_deck").bind('added',function() {
    						id_cuenta = $("#id_asientocontabledetalle_set-"+"{{ z }}"+"-cuenta").val();
    			            banco();
    			    	});
    					
    					$("#id_asientocontabledetalle_set-"+"{{ z }}"+"-cuenta_on_deck").bind('killed',function() {
    						  remover({{ z }});
    			    });
    					</script>
                    </td>
                    
                    <td class="field-debe">
                        <input id="id_asientocontabledetalle_set-{{ z }}-debe" style=" text-align: right" name="asientocontabledetalle_set-{{ z }}-debe" required="" min="0"  step="0.01" type="number" value="0">
                    </td>
                    <td class="field-haber">
                        <input id="id_asientocontabledetalle_set-{{ z }}-haber" style="text-align: right" name="asientocontabledetalle_set-{{ z }}-haber" required="" min="0" step="0.01" type="number" value="0">
                    </td>
                 <td class="field-observacion">
                        <input style=" " name="asientocontabledetalle_set-{{ z }}-observacion" maxlength="100" type="text" value="">
                    </td>
                    <td class="delete"><div><a class="inline-deletelink" href="javascript:del_fila({{ z }})">Eliminar</a></div></td>
                </tr>
		{% endfor %}
                <tr class="add-row"><td colspan="6">
                <a href="javascript:addRow()">Agregar Asiento Contable Detalle adicional.</a></td></tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
<input type="hidden" id='cantidad_rows' name='cantidad_rows' value="{{ asientos_detalles|length }}">
<script type="text/javascript">
function addRow(){
    var cantidad = document.getElementById('cantidad_rows')
    var row=document.getElementById('asientocontabledetalle_set-'+cantidad.value.toString())
    row.removeAttribute('hidden')
    cantidad.value=parseInt(cantidad.value)+1
}

/*
$(document).ajaxComple(function() {
	  alert("An individual AJAX call has completed successfully");
	  //banco()
	  
	});*/
</script> 

<!-- TOTALES  -->

<table style="width: 100%" >
    <tfoot>
    <td style="width: 375px"></td>
    <td class="readonly" style="width: 300px">
        <label><b>Total Debe:</b></label>
        <input type="number" style="text-align: right;" name="total_d" id="total_d" min="0" value="0" step="0.01" readonly ></td>
    <td class="readonly" style="width: 250px">
        <label><b>Total Haber:</b></label>
        <input type="number" style=" text-align: right;" name="total_h" id="total_h" min="0" value="0" step="0.01" readonly  ></td>
    <td class="readonly" style="width: 250px;">
    </tfoot>
</table>

<!-- ERRORES -->

<div id="error_1" hidden="hidden" class="alert alert-danger" role="alert">
<p>Error, el Debe no coincide con el Haber</p>
 </div>
<div id="error_2" hidden="hidden" class="alert alert-danger" role="alert">
<p>Los valores deben ser mayores a Cero</p>
 </div>
<div id="error_3" hidden="hidden" class="alert alert-danger" role="alert">
<p>Debe registrar al menos una cuenta</p>
 </div>

<script type="text/javascript" >

    function total(){
        var table = document.getElementById('myTable');
        var rowCount = parseInt(table.rows.length);
        var i;
        var  total_d=document.getElementById('total_d')
        var  total_h=document.getElementById('total_h')
        total_d.value=0.00
        total_h.value=0.00
        for (i=0;i<rowCount;i++){
            var element_debe=document.getElementById('id_asientocontabledetalle_set-'+ i.toString()+'-debe')
            var element_haber=document.getElementById('id_asientocontabledetalle_set-'+ i.toString()+'-haber')
            var debe=(element_debe != null)?parseFloat(element_debe.value) : 0;
            var haber=(element_haber != null)?parseFloat(element_haber.value) : 0;
            var aux_debe=parseFloat(total_d.value);
            var aux_haber=parseFloat(total_h.value);
            total_d.value=Math.round((aux_debe+debe)*100)/100;
            total_h.value=Math.round((aux_haber+haber)*100)/100;
        }
    }


    function guardar(){
        var  total_d=parseFloat(document.getElementById('total_d').value)
        var  total_h=parseFloat(document.getElementById('total_h').value)
        if(total_d != total_h){
            document.getElementById('error_0').removeAttribute('hidden')
            document.getElementById('error_1').removeAttribute('hidden')
        }else if (total_d == 0 || total_h == 0){
            document.getElementById('error_0').removeAttribute('hidden')
            document.getElementById('error_2').removeAttribute('hidden')
        }else if(cantidad_cuentas()){
            document.getElementById('error_0').removeAttribute('hidden')
            document.getElementById('error_3').removeAttribute('hidden')
        }else{
            var fecha=document.getElementById('id_fecha').value.toString()
            alert(fecha)
            if (fecha != null){
            Dajaxice.asientos_contables.existe_cambio(return_existe,{'fecha':fecha})
            }

        }
    }

    function return_existe(data){

{#        if (data.existe == 'false'){#}
{#            alert('No existe una cotizacion correspondiente a esta fecha. Debe agregarla.')#}
{#            document.getElementById('cargar_cotizacion').click();#}
{#        }else{#}
            document.getElementById('asientocontable_form').submit();
        //}
    }
    function banco(){
        var table = document.getElementById('myTable');
        var rowCount = parseInt(table.rows.length);
        for(var i=0;i<rowCount;i++){
            var cuenta_element=document.getElementById("id_asientocontabledetalle_set-"+ i.toString()+"-cuenta")
            if(cuenta_element != null){
                var id_cuenta=cuenta_element.value
                if (id_cuenta != ""){
                    id_cuenta=parseInt(id_cuenta)
                    var id_banco={% banco_codigo %};
                    id_banco=parseInt(id_banco)
                    if(id_banco == id_cuenta){
                        document.getElementById('asientocontabledetalle_set-'+ i.toString()+'-banco').style.display='block'
                    }else{
                        document.getElementById('asientocontabledetalle_set-'+ i.toString()+'-banco').style.display='none'
                    }
                }
            }
        }
        if (id_cuenta != ""){
            var id_cuenta=parseInt(id_cuenta)
        }
        
    }
    function cantidad_cuentas(){
        var table = document.getElementById('myTable');
        var rowCount = parseInt(table.rows.length);
        var cant_cuentas=document.getElementById('cantidad_cuentas');
        var cont=0;
        for (var i=0; i<rowCount;i++){
        	var cuenta=document.getElementById('id_asientocontabledetalle_set-'+ i.toString()+'-cuenta');
            if (cuenta!= null){
                if(cuenta.value != ''){
                    cont+=1
                }
            }
        }
        return (cont == 0)
    }
    function del_fila(index){
    	document.getElementById('asientocontabledetalle_set-'+index.toString()).style.display='none'
    	document.getElementById('id_asientocontabledetalle_set-'+ index.toString()+'-cuenta').value=""
    	document.getElementById('id_asientocontabledetalle_set-'+ index.toString()+'-debe').value=0
    	document.getElementById('id_asientocontabledetalle_set-'+ index.toString()+'-haber').value=0
    	total();
    }
    function del_content(index){
    	document.getElementById('a-'+index.toString()).innerHTML=""
    	document.getElementById('id_asientocontabledetalle_set-'+index.toString()+'-cuenta').value=""
    		document.getElementById('asientocontabledetalle_set-'+index.toString()+'-banco').style.display='none'
    }
    function remover(index){
    	
    	var cuenta=document.getElementById('id_asientocontabledetalle_set-'+ index.toString()+'-cuenta');
    	 var banco=document.getElementById('asientocontabledetalle_set-'+index.toString()+'-banco')
    	 if (cuenta.value == ''){
    		 banco.style.display='none'
    	 }        
    }
</script>

<div class="row-fluid">
        <div class="form-actions">

<div class="pull-left">

</div>
<div class="pull-right">
    
<input type="button" value="Grabar"  onclick="guardar()" class="btn btn-primary" name="_save">
</div>
        </div>
    </div>

<input type="hidden" id="cantidad_cuentas" value="0">

<script type="text/javascript">document.getElementById("id_fecha").focus();</script>
<script type="text/javascript">
    (function($) {
        var field;
    })(django.jQuery);
</script>

</div>
</form></div>

<br class="clear">
</div>
</body>
{% endblock %}