{% extends 'admin/base_site.html' %}
{% block extrahead %}
{% load my_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">


{% endblock %}

{% block content %}
     <!-- Placed at the end of the document so the pages load faster -->


    <script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="bootstrap/bootstrap-2.3.1.min.js"></script>
        <script src="myOwn.js"></script>

    <center>
    <h1>Cuentas</h1>
    <input type="text">
    <table>
      <tr><th>Cuenta</th><th>Tipo</th><th>Nivel</th><th>Debe</th><th>Haber</th><th>Diferencia</th>
    {% for arbol in arbol_list %}
        <tr><td style="width: 300px">{{ arbol.cuenta.cuenta }}</td><td style="width: 50px">{{ arbol.cuenta.tipo|tipo_cuenta }}</td>
            <td>{{ arbol.cuenta.depth }}</td>   <td style="width: 100px">{{ arbol.debe }}</td>
            <td style="width: 100px">{{ arbol.haber }}</td><td style="width: 100px">{{ arbol.debe|sub:arbol.haber }}</td>

        </tr>
        {% endfor %}
        </table>

        </center>
    {% endblock %}
