{% extends 'admin/base_site.html' %}
{% block extrahead %}
{% load my_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">


{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li>Balance</li>
</ul>
            {% endblock %}
 {% block navbar %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand">{{ titulo }} </a>
                    
                </div>
            </div>
        </div>
        {% endblock navbar %}

{% block content %}
     <!-- Placed at the end of the document so the pages load faster -->


    <script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="bootstrap/bootstrap-2.3.1.min.js"></script>
        <script src="myOwn.js"></script>

    <center>
    

    <table class="table table-bordered table-striped">
        <tr><th class="navbar-inner"></th>
            <th colspan="2" class="navbar-inner"><center>SUMA</center></th>
            <th colspan="2" class="navbar-inner"><center>SALDO</center></th>
            <th colspan="2" class="navbar-inner"><center>PATRIMONIALES</center></th>
        <th colspan="2" class="navbar-inner"><center>RESULTADO</center></th>
        </tr>
      <tr>
        <th style="width: 250px">Cuenta</th><th>Debe</th><th>Haber</th><th>Deudor</th><th>Acreedor</th>
          <th>Activo</th><th>Pasivo</th><th>Perdidas</th><th>Ganancias</th>
    </tr>
        {% for cuenta in cuentas %}
            <tr>
            {% for valor in cuenta %}

                <td {% if forloop.counter != 1 %} style="text-align: right" {% endif %}>{% if forloop.counter != 1 %}{{ valor|separar }}{% else %} {{valor }} {% endif %}</td>
             {% endfor %}
            </tr>
        {% endfor %}
    <tr>
            {% for tot in total %}
              
               
                {% if forloop.counter0 == 0 %}
                 <th>
                {{ tot }}
                {% else %}
                 <th style="text-align: right">
                {{ tot|separar }}
                {% endif %}
                
                </th>
               {% endfor %}
            </tr>
        </table>

        </center>
    {% endblock %}
