{% extends 'admin/base_site.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load my_tags %}
{% block extrahead %}
        {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    {% bootstrap_javascript_tag %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}

    <center>
    <ul class="nav nav-tabs" role="tablist">
   <li {% if tipo == 'IN' %} class="active" {% endif %}><a href="{% url 'presupuestos.views.ejecucion_presupuestaria' 'IN' %}">Ingresos</a></li>
        <li {% if tipo == 'EG' %} class="active" {% endif %}><a href="{% url 'presupuestos.views.ejecucion_presupuestaria' 'EG' %}">Egresos</a></li>
</ul>

    <h1>Ejecucion Presupuestaria</h1>
<div class="pre-scrollable" style=" max-height: 650px; overflow-y:scroll;" >
    <table class="table table-bordered table-striped">
      <tr><th style="width: 500px;" rowspan="2" class="navbar-inner"><p style="font-size: 15px">Cuenta</p></th>
           {% for i,mes in meses %}
            <th colspan="2"  id="col{{ forloop.counter }}" onclick="colorear2({{ forloop.counter }})" class="navbar-inner"><p style="font-size: 15px; text-align: center">{{ mes }}</p></th>
            {% endfor %}
     </tr>
      <tr>
          {% for mes in meses %}
        <th class="navbar-inner"><p style="font-size: 15px">Ejecutado</p></th>
        <th class="navbar-inner"><p style="font-size: 15px">Presupuestado</p></th>
          {% endfor %}
      </tr>
    {% for datos in vector_cuentas %}
        <tr>
            {% for dato in datos %}
                {% if forloop.counter == 2 %}

                <td id="row{{ datos.0 }}" onclick="colorear({{ dato.0 }})" style="width: 250px;">{{ dato }} </td>
                {% elif forloop.counter > 2 and forloop.counter < 15 %}
            <td  style="text-align: right" >{{ dato }}</td>
                    <td {% if forloop.counter > 2  %} style="text-align: right" {% endif %}>{{ dato }} </td>
                {% endif %}
             {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>

    </center>
{% endblock %}

<script>

function colorear(index){
    var row=document.getElementById('row'+index.toString())
    var rowIndex = row.parentNode.rowIndex;
    var table=document.getElementById('myTable')
    var rowCont=table.rows[0].cells.length
    var tiene=( table.rows[rowIndex].cells[0].getAttribute('style')== null)? false:true;

     if(tiene){
          for(var i=0;i<rowCont;i++){
       table.rows[rowIndex].cells[i].removeAttribute('style')
        }
     }else{
         for(var i=0;i<rowCont;i++){
       table.rows[rowIndex].cells[i].style.background='lightblue'
        }
     }


}
 function colorear2(index){
    var table=document.getElementById('myTable')
    var rowCont=table.rows.length
    var tiene=( table.rows[0].cells[index].getAttribute('style')== null)? false:true;

     if(tiene){
          for(var i=0;i<rowCont;i++){
       table.rows[i].cells[index].removeAttribute('style')
        }
     }else{
         for(var i=0;i<rowCont;i++){
       table.rows[i].cells[index].style.background='lightgreen'
        }
     }


}

</script>