{% extends 'admin/base_site.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load my_tags %}
{% block extrahead %}
        {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    {% bootstrap_javascript_tag %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

  

{% endblock %}
{% block navbar %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                <table>
                <tr>
                <td style="width: 88%"><a class="brand">Cuentas</a></td>
                <td>
                 <a href="/reporte/comunidad/{{ id_comunidad }}" class="btn btn-primary">Generar Reporte</a>
                </td>
                </tr>
                
                </table>
                </div>
            </div>
        </div>
        {% endblock navbar %}
        
        {% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li>Libro Mayor</li>
</ul>
            {% endblock %}
            
        
{% block content %}

    <center>
    <ul class="nav nav-tabs" role="tablist">
  <li {% if tipo == 'AC' %} class="active" {% endif %}><a href="{% url 'asientos_contables.views.mayor' 'AC' %}">Activo</a></li>
  <li {% if tipo == 'PA' %} class="active" {% endif %}><a href="{% url 'asientos_contables.views.mayor' 'PA' %}">Pasivo</a></li>
   <li {% if tipo == 'IN' %} class="active" {% endif %}><a href="{% url 'asientos_contables.views.mayor' 'IN' %}">Ingresos</a></li>
        <li {% if tipo == 'EG' %} class="active" {% endif %}><a href="{% url 'asientos_contables.views.mayor' 'EG' %}">Egresos</a></li>
  <li {% if tipo == 'PN' %} class="active" {% endif %}><a href="{% url 'asientos_contables.views.mayor' 'PN' %}">Patrimonio Neto</a></li>
</ul>

    <table class="table-striped table-bordered table" style="width: 80%">
      <tr>
      	<th style="width: 500px; text-align: center" class="navbar-inner"><p style="font-size: 20px">Cuenta</p></th>
      	<th  class="navbar-inner"><p style="font-size: 20px">Tipo</p></th>
      	<th  class="navbar-inner"><p style="font-size: 20px">Debe</p></th>
      	<th  class="navbar-inner"><p style="font-size: 20px">Haber</p></th>
      	<th  class="navbar-inner"><p style="font-size: 20px">Saldo</p></th>
      </tr>
    {% for cuenta in vector_cuentas %}
        <tr style="line-height: 25px; min-height: 25px;height: 25px;"><td style="width: 300px">
            <p style="font-size: 15px">
               {% if cuenta.have_child  %}
               <b>{{ cuenta.codigo }} - {{ cuenta.cuenta }}</b>
               {% else %}
               {{ cuenta.codigo }} - {{ cuenta.cuenta }}
                {% endif %}
            </p>
            </td>
            <td style="width: 150px"><p style="font-size: 15px">{{ cuenta.get_tipo_display }}</p></td>
            <td style="width: 100px"><p style="font-size: 15px; text-align: right">{{ cuenta.debe|separar}}</p></td>
            <td style="width: 100px"><p style="font-size: 15px; text-align: right">{{ cuenta.haber|separar }}</p></td>
            <td style="width: 100px"><p style="font-size: 15px; text-align: right">{{ cuenta.saldo|separar }}</p></td>
        </tr>
    {% endfor %}
    </table>

    </center>
{% endblock %}
<style>
.p{
    font-size: 15px;
}
</style>