{% extends 'admin/base_site.html' %}
{% load my_tags %}
{% block extrahead %}
{% endblock %}

{% block content %}

    <center>
    <h1>Cuentas</h1>
    <table>
      <tr><th style="width: 500px">Cuenta</th><th>Tipo</th><th>Debe</th><th>Haber</th><th>Saldo</th>
    {% for cuenta in vector_cuentas %}
        <tr><td style="width: 300px">
            <p style="{{ cuenta.depth|espacios }} font-size: 15px">
               {% if cuenta.have_child  %}
               <b> {{ cuenta.cuenta }}</b>
               {% else %}
                {{ cuenta.cuenta }}
                {% endif %}
            </p>
            </td>
            <td style="width: 150px"><p style="font-size: 15px">{{ cuenta.get_tipo_display }}</p></td>
            <td style="width: 100px"><p style="font-size: 15px">{{ cuenta.debe }}</p></td>
            <td style="width: 100px"><p style="font-size: 15px">{{ cuenta.haber }}</p></td>
            <td style="width: 100px"><p style="font-size: 15px">{{ cuenta.saldo }}</p></td>

        </tr>
    {% endfor %}
    </table>

    </center>
{% endblock %}
<style>
.p{
    font-size: 15px;
}
</style>