<html xmlns="http://www.w3.org/1999/xhtml" lang="es-es">
<head>
    {% load my_tags %}
    {% load dajaxice_templatetags %}


    <title>Seleccionar Comunidad</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% dajaxice_js_import %}


    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css">
{#    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">#}



    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
      <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/ajax_select/js/bootstrap.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    </script><script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>


    <meta name="robots" content="NONE,NOARCHIVE">
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
</head>


<body class="asientos_contables-asientocontable change-form"  > 
{#<!-- Container -->#}
<div class="container-fluid">


    <!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

<a class="brand" href="/admin/">Hijas de la Caridad</a>

                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido/a, <strong>{{ request.user.username }}</strong> <b class="caret"></b></a>
                            <ul class="dropdown-menu pull-right">

                                <li><a href="/admin/password_change/">Cambiar contraseña</a></li>

                                <li><a href="/admin/logout/">Terminar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    
    
    <!-- END Header -->
    </div>
    <!-- END Content -->
    <footer id="footer"></footer>
</div>


<ul class="breadcrumb">
<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li><a href="{{ url }}">{{ app_label }}</a> <span class="divider">/</span></li>
<li>Seleccionar Comunidad</li>
</ul>

<!-- Content -->

<div id="content" class="colM">
<div class="row-fluid">
		
            <div class="navbar">
            <center>
                <div class="navbar-inner">
                    <a class="brand">Seleccionar Comunidad</a>                   
                </div>
                </center>
            </div>
            
<div id="content-main">

<form enctype="multipart/form-data" action="" method="post" >{% csrf_token %}
<div>
<center>
<table>
<!-- <tr><td>
<label for="id_comunidad_set-0-comunidad_text"><b>Comunidad:</b> </label>
<input type="text" style="height: 30px" name="comunidad_set-0-comunidad_text" 
      id="id_comunidad_set-0-comunidad_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
	<input type="hidden" name="comunidad_set-0-comunidad" id="id_comunidad_set-0-comunidad" value=""
          data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/comunidad&quot;}">
           			
    <div id="id_comunidad_set-0-comunidad_on_deck"  class="results_on_deck" >  					
	<div > </div>	</div>
	</td>
	<td style="width: 30px;"></td>
	</tr> -->
	<tr><td>
	<label for="id_cuenta_set-0-cuenta_text"><b>Desde:</b> </label>
<input type="text" style="height: 30px" name="comunidad_set-0-comunidad_text" 
      id="id_cuenta_set-0-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
	<input type="hidden" name="cuenta_set-0-cuenta" id="id_cuenta_set-0-cuenta" value=""
          data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta&quot;}">
           			
    <div id="id_cuenta_set-0-cuenta_on_deck"  class="results_on_deck" >  					
	<div > </div>	</div>
	</td>
	<td style="width: 30px;"></td>
	
	</tr>
	<tr><td>
	<label for="id_cuenta_set-1-cuenta_text"><b>Hasta:</b> </label>
<input type="text" style="height: 30px" name="comunidad_set-1-comunidad_text" 
      id="id_cuenta_set-1-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
	<input type="hidden" name="cuenta_set-1-cuenta" id="id_cuenta_set-1-cuenta" value=""
          data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta&quot;}">
           			
    <div id="id_cuenta_set-1-cuenta_on_deck"  class="results_on_deck" >  					
	<div > </div>	</div>
	</td>
	<td style="width: 30px;"></td>
	
	</tr>
	<tr>
	<td>
	<label ><b>Todas las cuentas:</b> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox" id="radio" name="todos"></label>
	
	</td>
	</tr>
	<tr>
	<td><center>
	<br>
	<input type="submit" class="btn-primary" value="Descargar">
	</center>
	</td>
	</tr>
  </table>
  </center>
</div>
</form>

</div>

<br class="clear">
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

</body></html>