{% extends "admin/base_site.html" %}
{% block extrahead %}
    {% load my_tags %}
    {% load dajaxice_templatetags %}


    <title>Seleccionar Comunidad</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% dajaxice_js_import %}


    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css">
{#    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">#}



    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
      <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/ajax_select/js/bootstrap.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    </script><script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>


    <meta name="robots" content="NONE,NOARCHIVE">
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li><a href="{{ url }}">{{ app_label }}</a> <span class="divider">/</span></li>
<li>Exportar Mayor</li>
</ul>
  {% endblock %}
    {% block navbar %}
  
             <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand">Comunidad: {{comunidad.comunidad }}</a>
                </div>
                </div>
        {% endblock navbar %}


{% block content %} 




<!-- Content -->

<div id="content" class="colM">
<div class="row-fluid">
            
<div id="content-main">

<form enctype="multipart/form-data" action="" method="post" >{% csrf_token %}
<div>
<center>
<table>

	<tr><td>
	<label for="id_cuenta_set-0-cuenta_text"><b>Desde:</b> </label>
<input type="text"  name="comunidad_set-0-comunidad_text" 
      id="id_cuenta_set-0-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
	<input type="hidden" name="cuenta_set-0-cuenta" id="id_cuenta_set-0-cuenta" value=""
          data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta_all&quot;}">
           			
    <div id="id_cuenta_set-0-cuenta_on_deck"  class="results_on_deck" >  					
	<div > </div>	</div>
	</td>
	<td style="width: 30px;"></td>
	
	</tr>
	<tr><td>
	<label for="id_cuenta_set-1-cuenta_text"><b>Hasta:</b> </label>
<input type="text" name="comunidad_set-1-comunidad_text" 
      id="id_cuenta_set-1-cuenta_text" autocomplete="off" maxlength="255" class="ui-autocomplete-input">
	        
	<input type="hidden" name="cuenta_set-1-cuenta" id="id_cuenta_set-1-cuenta" value=""
          data-ajax-select="autocompleteselect" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/cuenta_all&quot;}">
           			
    <div id="id_cuenta_set-1-cuenta_on_deck"  class="results_on_deck" >  					
	<div > </div>	</div>
	</td>
	<td style="width: 30px;"></td>
	
	</tr>
	<tr>
	<td>
	<label ><b>Todas las cuentas:</b> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox" id="radio" name="todos"></label>
	
	</td>
	</tr>
	<tr>
	<td><center>
	<br>
	<input type="submit" class="btn-primary" value="Descargar">
	</center>
	</td>
	</tr>
  </table>
  </center>
</div>
</form>

</div>

<br class="clear">
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

{% endblock %}