{% extends "admin/base_site.html" %}

    {% load my_tags %}
    {% load dajaxice_templatetags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li><a href="/admin/">Inicio</a> <span class="divider">/</span></li>
<li>Ejercicio</li>
</ul>
  {% endblock %}
{% block navbar %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
               
                <td style="width: 88%"><a class="brand">Seleccionar Ejercicio</a></td>
                </div>
            </div>
        </div>
        {% endblock navbar %}

{% block content %}
<form method="post" >{% csrf_token %}
<center>
<select name="ejercicio_select">
{% for ejercicio in ejercicios %}
<option value="{{ ejercicio.anho }}">{{ ejercicio.anho }}</option>
{% endfor %}
</select>
<input type="submit" class="btn btn-primary" value="Ok" >
</center>
</form>
{% endblock %}

