{% extends 'admin/base_site.html' %}
{% load admin_static bootstrapped_goodies_tags %}
 {% load url from future %}
{% load my_tags %}
<head>
    <title>INICIO</title>
 <script src="{% static "admin/js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "admin/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<!-- Placed at the end of the document so the pages load faster -->


<body>

<h>el puretee</h>


</body>
