<html lang="en-us"><head>
<title>Escoja asiento contable a modificar | Sitio de administración de Django</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">


  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">


    <script type="text/javascript" src="/admin/jsi18n/"></script>




<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>


<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="change-list">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name">Sistema contable - Congregación "Hijas de la Caridad"</h1>

        </div>

        <div id="user-tools">
            Bienvenido/a,
            <strong>admin</strong>.
                <a href="/admin/password_change/">Cambiar contraseña</a> /

                <a href="/admin/logout/">Terminar sesión</a>

        </div>


    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Inicio</a>
› <a href="/admin/asientos_contables/">Asientos_contables</a>
› Asientos contables
</div>

    <!-- Content -->
    <div id="content" class="flex">

        <h1>Escoja asiento contable a modificar</h1>

  <div id="content-main">


        <ul class="object-tools">

            <li>

              <a href="/asiento/nuevo/" class="addlink">
                Añadir asiento contable
              </a>
            </li>

        </ul>



    <div class="module filtered" id="changelist">


<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search"></label>
<input type="text" size="40" name="q" value="" id="searchbar">
<input type="submit" value="Buscar">


</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>



          <div id="changelist-filter">
            <h2>Filtro</h2>

<h3> Por fecha </h3>
<ul>

    <li class="selected">
    <a href="?">Cualquier fecha</a></li>

    <li>
    <a href="?fecha__gte=2014-07-07&amp;fecha__lt=2014-07-08">Hoy</a></li>

    <li>
    <a href="?fecha__gte=2014-06-30&amp;fecha__lt=2014-07-08">Últimos 7 días</a></li>

    <li>
    <a href="?fecha__gte=2014-07-01&amp;fecha__lt=2014-08-01">Este mes</a></li>

    <li>
    <a href="?fecha__gte=2014-01-01&amp;fecha__lt=2015-01-01">Este año</a></li>

</ul>

          </div>



      <form id="changelist-form" action="" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="h7gEpq9YIRlND6eofzB8YCpYHNak3Mnv">



<div class="actions">
    <label>Acción: <select name="action">
<option value="" selected="selected">---------</option>
<option value="delete_selected">Eliminar Asientos contables seleccionado/s</option>
</select></label><input class="select-across" name="select_across" type="hidden" value="0">
    <button type="submit" class="button" title="Ejecutar la acción seleccionada" name="index" value="0">Ir</button>

        <script type="text/javascript">var _actions_icnt="8";</script>
        <span class="action-counter" style="display: inline;">seleccionados 0 de 8</span>


</div>




<div class="results">
<table id="result_list" class="table-striped">
<thead>
<tr>

<th scope="col" class="action-checkbox-column">

   <div class="text"><span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-fecha">



   <div class="text"><a href="?o=1">Fecha</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-comunidad">



   <div class="text"><a href="?o=2">Comunidad</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>

{% for asiento in asientos %}
<tr class="row1">
    <td class="action-checkbox">
    <input class="action-select" name="_selected_action" type="checkbox" value="9"></td>
    <th class="nowrap"><a href="/admin/asientos_contables/asientocontable/{{ asiento.id }}/">{{asiento.fecha }}</a></th>
    <td class="nowrap">{{ asiento.comunidad.comunidad }}</td></tr>

{% endfor %}

</tbody>
</table>
</div>






<p class="paginator">

8 Asientos contables


</p>

      </form>
    </div>
  </div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>